/* p{
    color: black;
    background-color: rgb(30, 255, 0);
 } */

 /* #abc {
    color: black;
    background-color: rgb(30, 255, 0);
 } */

 .xyz{
    color: black;
    background-color: rgb(30, 255, 0);
 }